!!!
/[if lt IE 7]
  %html{ :class => "no-js ie6 oldie", :lang => "en" }
/[if IE 7]
  %html{ :class => "no-js ie7 oldie", :lang => "en" }
/[if IE 8]
  %html{ :class => "no-js ie8 oldie", :lang => "en" }
%html{ :class => "no-js", :lang => "en" }
  %head
    %meta{ :charset => "UTF-8" }
    %meta{ :"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %title= @title
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "author", :content => "" }
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }
    %link{ :rel => "stylesheet", :href => "/css/blueprint/screen.css", :media => "screen, projection"}
    %link{ :rel => "stylesheet", :href => "/css/blueprint/print.css", :media => "print" }
    /[if lt IE 8]
      %link{ :rel => "stylesheet", :href => "/css/blueprint/ie.css", :media => "screen, projection"}
    %link{ :rel => "stylesheet", :href => "/css/custom.css", :media => "screen, projection" }
    %script{ :src => "js/libs/modernizr-2.0.6.min.js" }
    %script{ :type => "text/javascript", :src => "http://use.typekit.com/oyy1hvx.js" }
    %script{ :type => "text/javascript" }
      try{Typekit.load();}catch(e){}
  %body{ :class => @body_class }
    .container
      #header.span-24
        %h1= @heading
        %h2= @subtitle
        - display_menu(@menu_items, :class => "top_nav", :levels => 1)
      #main.span-24{ :role => "main" }
        = yield
      #footer.span-24
        %p.alt "Copyup Copyright Copydown Copyleft"
