.social
  %h2 Social Links
  %a{ :href => "http://delicious.com/jubstuff", :title => "My bookmarks on Delicious" } Delicious
  %a{ :href => "http://meemi.com/justb", :title => "My stream on Meemi" } Meemi

