.social
  %h2 Social Links
  %ul
    %li.github
      %a{ :href => "https://github.com/JustB", :title => "My projects on Github" } github
    %li
      %a{ :href => "http://delicious.com/jubstuff", :title => "My bookmarks on Delicious" } Delicious
    %li
      %a{ :href => "http://meemi.com/justb", :title => "My stream on Meemi" } Meemi
    %li
      %a{ :href => "http://twitter.com/jubstuff", :title => "Twitter!" } Twitter


