Title: Jub's Stuff

#home.column.grid_12
  %h1 Home

  %p.intro 
    Ciao! Sono Giustino Borzacchiello e questo è il mio sito personale. Passo il mio tempo a 
    %span.github
      %a{ :href => "http://github.com/JustB", :title => "My projects on github"}scrivere codice
    , 
    %span.delicious
      %a{ :href => "http://www.delicious.com/jubstuff", :title => "My bookmarks" }navigare sul web
    , 
    %span.meemi
      %a{ :href => "http://meemi.com/JustB", :title => "My stream on Meemi" }discutere con gli amici, 
    %span.rosaespada
      %a{ :href => "/about/scherma-medievale", :title => "La mia compagnia di rievocazione storica" }studiare scherma medievale
    , 
    %span.musica
      %a{ :href => "/about/suonare", :title => "La mia prima vera passione" }suonare quando mi va
    ; il tutto accompagnato da 
    %span.tea
      tazze di té (si, anche mentre faccio scherma!).
  %p
    Vuoi saperne di più? Puoi leggere 
    %a{ :href => "/blog" }i miei ultimi articoli
    , oppure 
    %a{ :href => "mailto:giustinob@gmail.com" }mandarmi una mail 
    (adoro ricevere email!).
